/* ini file CSS*/

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url("https://picsum.photos/200");
    background-position: center;
    background-size: cover;
}

.banner-image {
    border: 1px solid;
    height: 450px;
    background-image: url("https://picsum.photos/200");
    background-size: cover;

}

.content {
    height: 500px;
}

footer {
    text-align: center;
}

nav>a {
    border: 1px solid;
    padding: 8px;
    color: black;
    text-decoration: dotted;
}

nav {
    display: flex;
}
.left-rounded {
    border-radius: 12px 0 0 12px;
}

.right-rounded {
    border-radius: 0 12px 12px 0;
}